* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Karla;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  background-color: var(--light-gray);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-card {
  width: 80%;
  margin: auto;
}

.header {
  padding: 3rem 2rem;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--cyan);
  margin-bottom: 1.5rem;
}

.header h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--bright-yellow);
  margin-bottom: 1rem;
}

.header p {
  font-size: 1rem;
  color: var(--grayish-blue);
  text-align: justify;
  width: 80%;
}

.footer {
  color: white;
  margin: 0;
}

.footer .footer-header {
  padding: 1rem 2rem;
  background-color: var(--cyan);
  margin: 0;
  padding-bottom: 1.5rem;
}

.footer .footer-header h3 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.footer-header .price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

.footer .price {
  font-size: 2rem;
  font-weight: 700;
}

.footer .price-per-month {
  color: var(--light-gray);
  font-weight: 400;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

.footer .subtitle {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.footer button {
  background-color: var(--bright-yellow);
  color: white;
  text-align: center;
  white-space: nowrap;
  padding: 0.5rem 5.5rem;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 0.5px rgba(0, 0, 0, 0.1);

}

.footer .why-us {
  background-color: rgb(121, 188, 188);
  margin: 0;
  padding: 2rem 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer .why-us h3 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.footer ul {
  list-style: none;
  color: var(--light-gray);
}

.footer ul li {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
}

@media (min-width: 1024px) {
  .price-card {
    max-width: 80vh;
  }

  .footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .footer .price {
    border-bottom-left-radius: 5px;
    width: 50%;
  }

  .footer .why-us {
    border-bottom-left-radius: 0;
    width: 50%;
    padding: 1rem 0 0 2rem;
  }

  .footer ul li {
    font-size: 0.6rem;
  }
}
